In [1]:
import pandas as pd

In [2]:
%cd C:\Users\krishna desai\Downloads

C:\Users\krishna desai\Downloads

In [3]:
# create a dataframe and read csv file
df=pd.read_csv("imdb.csv")

In [4]:
# print dataframe
df

,fn,tid,title,wordsInTitle,url,imdbRating,ratingCount,duration,year,type,...,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
0,titles01/tt0012349,tt0012349,Der Vagabund und das Kind (1921),der vagabund und das kind,http://www.imdb.com/title/tt0012349/,8.4,40550,3240,1921,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,titles01/tt0015864,tt0015864,Goldrausch (1925),goldrausch,http://www.imdb.com/title/tt0015864/,8.3,45319,5700,1925,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,titles01/tt0017136,tt0017136,Metropolis (1927),metropolis,http://www.imdb.com/title/tt0017136/,8.4,81007,9180,1927,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
3,titles01/tt0017925,tt0017925,Der General (1926),der general,http://www.imdb.com/title/tt0017925/,8.3,37521,6420,1926,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4,titles01/tt0021749,tt0021749,Lichter der Gro√üstadt (1931),lichter der gro stadt,http://www.imdb.com/title/tt0021749/,8.7,70057,5220,1931,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14756,titles04/index.html.9989,tt0672488,Peep Show Sectioning (TV Episode 2005),peep show sectioning tv episode,http://www.imdb.com/title/tt0672488/,7.7,135,1440,2005,video.episode,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
14757,titles04/index.html.9992,tt0675644,Playhouse 90 The Miracle Worker (TV Episode 1957),playhouse the miracle worker tv episode,http://www.imdb.com/title/tt0675644/,7.3,8,5400,1957,video.episode,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
14758,titles04/index.html.9994,tt0679222,Private Screenings Robert Mitchum and Jane Rus...,private screenings robert mitchum and jane rus...,http://www.imdb.com/title/tt0679222/,7,20,3600,1996,video.episode,...,0,0,1,0,0,0,NaN,NaN,NaN,NaN
14759,titles04/index.html.9995,tt0680064,Providence All the King's Men (TV Episode 2002),providence all the king s men tv episode,http://www.imdb.com/title/tt0680064/,NaN,NaN,3600,2002,video.episode,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
14760,titles04/index.html.9997,tt0681024,QI Adam (TV Episode 2003),qi adam tv episode,http://www.imdb.com/title/tt0681024/,7.6,89,1800,2003,video.episode,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [5]:
df.describe()

,nrOfUserReviews,nrOfGenre,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,...,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
count,14761.000000,14761.000000,14761.000000,14761.000000,14761.000000,14761.000000,14761.000000,14761.000000,14761.000000,14761.000000,...,14761.000000,14761.000000,14761.000000,14761.000000,14761.000000,14761.000000,429.000000,42.000000,8.0,1.0
mean,103.616828,4.493259,0.521916,0.060091,0.120995,0.071201,0.043087,0.351196,0.146399,0.081770,...,0.038209,0.016530,0.035838,0.088612,0.032450,0.022424,0.037296,0.023810,0.0,0.0
std,233.638777,28.557195,17.680075,4.289299,0.328615,0.257169,0.203059,0.477360,0.353518,0.274023,...,0.191706,0.127506,0.185892,0.284192,0.177199,0.148063,0.189707,0.154303,0.0,NaN
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
25%,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
50%,29.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
75%,102.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
max,4928.000000,1547.000000,1930.000000,488.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0

In [6]:
df.head()

,fn,tid,title,wordsInTitle,url,imdbRating,ratingCount,duration,year,type,...,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
0,titles01/tt0012349,tt0012349,Der Vagabund und das Kind (1921),der vagabund und das kind,http://www.imdb.com/title/tt0012349/,8.4,40550,3240,1921,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,titles01/tt0015864,tt0015864,Goldrausch (1925),goldrausch,http://www.imdb.com/title/tt0015864/,8.3,45319,5700,1925,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,titles01/tt0017136,tt0017136,Metropolis (1927),metropolis,http://www.imdb.com/title/tt0017136/,8.4,81007,9180,1927,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
3,titles01/tt0017925,tt0017925,Der General (1926),der general,http://www.imdb.com/title/tt0017925/,8.3,37521,6420,1926,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4,titles01/tt0021749,tt0021749,Lichter der Gro√üstadt (1931),lichter der gro stadt,http://www.imdb.com/title/tt0021749/,8.7,70057,5220,1931,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [7]:
df.tail()

,fn,tid,title,wordsInTitle,url,imdbRating,ratingCount,duration,year,type,...,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
14756,titles04/index.html.9989,tt0672488,Peep Show Sectioning (TV Episode 2005),peep show sectioning tv episode,http://www.imdb.com/title/tt0672488/,7.7,135,1440,2005,video.episode,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
14757,titles04/index.html.9992,tt0675644,Playhouse 90 The Miracle Worker (TV Episode 1957),playhouse the miracle worker tv episode,http://www.imdb.com/title/tt0675644/,7.3,8,5400,1957,video.episode,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
14758,titles04/index.html.9994,tt0679222,Private Screenings Robert Mitchum and Jane Rus...,private screenings robert mitchum and jane rus...,http://www.imdb.com/title/tt0679222/,7,20,3600,1996,video.episode,...,0,0,1,0,0,0,NaN,NaN,NaN,NaN
14759,titles04/index.html.9995,tt0680064,Providence All the King's Men (TV Episode 2002),providence all the king s men tv episode,http://www.imdb.com/title/tt0680064/,NaN,NaN,3600,2002,video.episode,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
14760,titles04/index.html.9997,tt0681024,QI Adam (TV Episode 2003),qi adam tv episode,http://www.imdb.com/title/tt0681024/,7.6,89,1800,2003,video.episode,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
# craete new dataframe, by storing into new dataframe
df1=df.head(10)

In [10]:
# if you want to create a new csv file for seperate dataframe
df1.to_csv("head.csv")

In [11]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 0086-BF03

 Directory of C:\Users\krishna desai\Downloads

09-01-2022  17:57    <DIR>          .
09-01-2022  17:57    <DIR>          ..
09-01-2022  17:43    <DIR>          .ipynb_checkpoints
29-05-2021  21:04            33,399 _test.txt - Jupyter Text Editor.html
29-05-2021  21:05    <DIR>          _test.txt - Jupyter Text Editor_files
28-08-2021  21:16         7,290,387 19.2.MySQL.7z
10-03-2021  20:19            16,951 7th march live class notebook for loop while and range function  (1).ipynb
31-10-2020  18:57           109,674 Abhi_up.pdf
11-09-2021  14:25            16,384 airline.xls
11-09-2021  14:19            16,384 andy.xls
31-10-2020  18:48            67,083 Ashwini S H Resume.pdf
30-05-2021  15:15            10,061 Assignment_1 (1).docx
06-04-2021  21:45            10,061 Assignment_1.docx
30-05-2021  15:15             9,806 Assignment_2.docx
19-06-2021  18:09         1,026,048 BOT TRAINING and Intelligent Switching .doc
19-06-2021  18:07         2,059,424 BOT TRAINING and Intelligent Switching .pages
19-06-2021  18:21            53,771 Bot Training Phase1.docx
12-04-2021  13:14            18,980 Chatbot error (733e4a83-56df-41c7-be11-fdb5d608f999) (1).xlsx
10-03-2021  20:22    <DIR>          Chatbots_using_Dialogflow-master
10-03-2021  20:21         3,115,004 Chatbots_using_Dialogflow-master.zip
08-09-2021  20:28             2,634 Comma Seperated Values - Sheet1.csv
30-08-2021  21:33         1,459,124 Data Visualisation with Pandas.ipynb
29-09-2020  21:48            23,873 diabetes.csv
22-04-2021  18:44             3,904 ea7e53a9-e560-4938-a0be-07e60ef4930c
17-12-2021  21:19            99,978 Excelsheet.xlsx
29-07-2021  07:19            18,705 exception handling.ipynb
10-07-2021  21:47            35,150 fn1.html
10-07-2021  21:47    <DIR>          fn1_files
10-07-2021  21:48            35,102 fn2.html
10-07-2021  21:48    <DIR>          fn2_files
10-07-2021  21:49            34,718 fn3.py - Jupyter Text Editor.html
10-07-2021  21:49    <DIR>          fn3.py - Jupyter Text Editor_files
29-07-2021  06:11            27,934 Function in pyton  (1) (1).ipynb
22-05-2021  21:24            27,934 Function in pyton  (1).ipynb
09-01-2022  17:57             2,615 head.csv
04-10-2020  14:47    <DIR>          HP Downloads
08-09-2021  20:13         3,506,738 imdb.csv
05-12-2021  23:37             2,642 Ineuron_10 assignment.py
15-11-2021  22:05           235,694 interview prepration.7z
05-10-2020  11:06             1,955 invite.ics
08-09-2021  20:21             5,107 Iris.csv
23-09-2021  21:32           126,838 json_dump.csv
11-09-2021  14:08         3,018,752 Kotak Life.xls
11-09-2021  15:02         2,270,884 Kotak Life.xls - Unidentified Utterance.csv
23-09-2021  21:32            20,318 list.csv
29-07-2021  22:16    <DIR>          logging
17-12-2021  20:29           161,651 LUSID Excel - Business Agility - Making Simple Changes Quickly & Easily.xlsx
17-12-2021  20:27           133,142 LUSID Excel - Manage your investment strategies.xlsx
13-09-2021  21:37        33,053,848 ML 2-Aur‚Äölien-G‚Äöron-Hands-On-Machine-Learning-with-Scikit-Learn-Keras-and-Tensorflow_-Concepts-Tools-and-Techniques-to-Build-Intelligent-Systems-O'Reilly-Media-2019.pdf
25-04-2021  10:39             7,118 modules.ipynb
23-09-2021  21:32             7,363 my_pickle
28-08-2021  20:29       472,547,328 mysql-installer-community-8.0.26.0 (1).msi
15-12-2021  15:59             1,509 newframe.csv
16-12-2021  20:02             1,504 newframe1.csv
23-09-2021  21:32               202 Norma.csv
09-09-2021  21:11               232 Normal
23-09-2021  21:32               232 Normal.csv
30-08-2021  21:35            71,480 Numpy in details.ipynb
28-08-2021  20:19            38,986 oops 2 (2).ipynb
09-01-2022  17:43           871,956 Pandas session 1.ipynb
17-12-2021  21:55             4,006 players.csv
30-08-2021  21:34         1,187,348 Plotly and Cufflinks Crash Course.ipynb
24-04-2021  22:37       466,773,176 pycharm-professional-2021.1.1.exe
22-05-2021  13:20         8,220,166 PYTHON durga.pdf √∫ version 1.pdf
09-09-2021  21:42             5,192 result.csv
23-09-2021  21:32             5,192 result2.csv
16-12-2021  22:13         3,507,742 resultnew.csv
16-12-2021  22:18         3,584,783 resultnew1.csv
16-12-2021  22:21         3,585,975 resultnew2.csv
16-12-2021  22:28           761,158 resultnew3.csv
22-05-2021  12:48            24,502 resume format New.....docx
23-04-2021  12:40            68,608 Screenshot 2021-04-23 at 12.39.16 PM.png
23-04-2021  12:55            87,692 Screenshot 2021-04-23 at 12.52.54 PM.png
30-08-2021  21:34         2,015,534 Seaborn .ipynb
31-10-2020  18:50           191,077 shabri_resume (1).pdf
31-10-2020  18:49           191,077 shabri_resume.pdf
19-10-2020  13:58        83,040,752 SlackSetup.exe
27-10-2020  21:12            11,426 stockholding.xlsx
01-11-2021  15:06         2,303,344 test.h5
29-07-2021  21:04                72 test.log
05-07-2021  22:06            33,716 test7.py - Jupyter Text Editor.html
05-07-2021  22:06    <DIR>          test7.py - Jupyter Text Editor_files
05-07-2021  22:07            33,711 test8.py - Jupyter Text Editor.html
05-07-2021  22:07    <DIR>          test8.py - Jupyter Text Editor_files
10-07-2021  21:45            19,442 testa.html
10-07-2021  21:45    <DIR>          testa_files
08-09-2021  22:22             1,504 trial.csv
28-10-2021  13:45             2,796 unidentified utternaces Sep 2021.csv
19-10-2020  13:40             3,309 unidentified-export (1).csv
19-10-2020  13:43         3,654,896 unidentified-export (2).csv
07-04-2021  12:03         4,962,172 unidentified-export (3).csv
19-10-2020  13:40             3,309 unidentified-export.csv
29-07-2021  22:21            14,295 Untitled.ipynb
28-08-2021  20:20               555 Untitled1.ipynb
12-04-2021  13:12           812,150 Updated Exide (1).numbers
20-04-2021  08:55            19,951 Updated Exide 2 (1).xlsx
12-04-2021  13:15            18,977 Updated Exide 2.xlsx
11-05-2021  12:41            22,130 Updated Exide 3 (1) (1).xlsx
22-04-2021  18:46            20,413 Updated Exide 3 (1).xlsx
11-05-2021  13:13            22,359 Updated Exide new4 (1) (1).xlsx
08-04-2021  21:15           812,150 Updated Exide.numbers
08-04-2021  21:18            18,982 Updated Exide.xlsx
20-05-2021  11:13            23,616 UpdatedNewExide chatboterrors 54.xlsx
20-05-2021  11:10            23,379 UpdatedNewExide chatboterrors.xlsx
30-03-2021  11:23           666,078 visualisation haberman.ipynb
              92 File(s)  1,118,469,279 bytes
              13 Dir(s)  99,139,375,104 bytes free

In [12]:
# open the newly created head csv file.
pd.read_csv("head.csv")

,Unnamed: 0,fn,tid,title,wordsInTitle,url,imdbRating,ratingCount,duration,year,...,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
0,0,titles01/tt0012349,tt0012349,Der Vagabund und das Kind (1921),der vagabund und das kind,http://www.imdb.com/title/tt0012349/,8.4,40550,3240,1921,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,1,titles01/tt0015864,tt0015864,Goldrausch (1925),goldrausch,http://www.imdb.com/title/tt0015864/,8.3,45319,5700,1925,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,2,titles01/tt0017136,tt0017136,Metropolis (1927),metropolis,http://www.imdb.com/title/tt0017136/,8.4,81007,9180,1927,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
3,3,titles01/tt0017925,tt0017925,Der General (1926),der general,http://www.imdb.com/title/tt0017925/,8.3,37521,6420,1926,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4,4,titles01/tt0021749,tt0021749,Lichter der Gro√üstadt (1931),lichter der gro stadt,http://www.imdb.com/title/tt0021749/,8.7,70057,5220,1931,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
5,5,titles01/tt0022100,tt0022100,M (1931),m,http://www.imdb.com/title/tt0022100/,8.5,73726,7020,1931,...,0,0,0,1,0,0,NaN,NaN,NaN,NaN
6,6,titles01/tt0025316,tt0025316,Es geschah in einer Nacht (1934),es geschah in einer nacht,http://www.imdb.com/title/tt0025316/,8.3,46503,6300,1934,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
7,7,titles01/tt0027977,tt0027977,Moderne Zeiten (1936),moderne zeiten,http://www.imdb.com/title/tt0027977/,8.6,90847,5220,1936,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
8,8,titles01/tt0031381,tt0031381,Vom Winde verweht (1939),vom winde verweht,http://www.imdb.com/title/tt0031381/,8.2,160414,14280,1939,...,0,0,0,0,1,0,NaN,NaN,NaN,NaN
9,9,titles01/tt0031679,tt0031679,Mr. Smith geht nach Washington (1939),mr smith geht nach washington,http://www.imdb.com/title/tt0031679/,8.4,58169,7740,1939,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [22]:
df3=df.head(5)

In [23]:
df3.to_csv("head22.csv")

In [25]:
# the sep will help to seperate the data with particular delimeter.
pd.read_csv("head22.csv",sep='#')

                                                   ,fn,tid,title,wordsInTitle,url,imdbRating,ratingCount,duration,year,type,nrOfWins,nrOfNominations,nrOfPhotos,nrOfNewsArticles,nrOfUserReviews,nrOfGenre,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,FilmNoir,GameShow,History,Horror,Music,Musical,Mystery,News,RealityTV,Romance,SciFi,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
0,titles01/tt0012349,tt0012349,Der Vagabund und...  ,http://www.imdb.com/title/tt0012349/,8.4,4055...
1,titles01/tt0015864,tt0015864,Goldrausch (1925...                                                NaN
2,titles01/tt0017136,tt0017136,Metropolis (1927),   ,http://www.imdb.com/title/tt0017136/,8.4,8100...
3,titles01/tt0017925,tt0017925,Der General (192...                                                NaN
4,titles01/tt0021749,tt0021749,Lichter der Gro√ü...  ,http://www.imdb.com/title/tt0021749/,8.7,7005...

In [26]:
df3.head(10)

,fn,tid,title,wordsInTitle,url,imdbRating,ratingCount,duration,year,type,...,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
0,titles01/tt0012349,tt0012349,Der Vagabund und das Kind (1921),der vagabund und das kind,http://www.imdb.com/title/tt0012349/,8.4,40550,3240,1921,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,titles01/tt0015864,tt0015864,Goldrausch (1925),goldrausch,http://www.imdb.com/title/tt0015864/,8.3,45319,5700,1925,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,titles01/tt0017136,tt0017136,Metropolis (1927),metropolis,http://www.imdb.com/title/tt0017136/,8.4,81007,9180,1927,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
3,titles01/tt0017925,tt0017925,Der General (1926),der general,http://www.imdb.com/title/tt0017925/,8.3,37521,6420,1926,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4,titles01/tt0021749,tt0021749,Lichter der Gro√üstadt (1931),lichter der gro stadt,http://www.imdb.com/title/tt0021749/,8.7,70057,5220,1931,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [29]:
# suppose if i want to remove the headers at very first row or record and return indexes.
pd.read_csv("head22.csv",header=None,names=['a','b','c','d','e','f','g','h','i','j','k'])

,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,a,b,c,d,e,f,g,h,i,j,k
NaN,fn,tid,title,wordsInTitle,url,imdbRating,ratingCount,duration,year,type,nrOfWins,nrOfNominations,nrOfPhotos,nrOfNewsArticles,nrOfUserReviews,nrOfGenre,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,FilmNoir,GameShow,History,Horror,Music,Musical,Mystery,News,RealityTV,Romance,SciFi,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
0.0,titles01/tt0012349,tt0012349,Der Vagabund und das Kind (1921),#,http://www.imdb.com/title/tt0012349/,8.4,40550,3240,1921,video.movie,1,0,19,96,85,3,0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1.0,titles01/tt0015864,tt0015864,Goldrausch (1925),goldrausch,http://www.imdb.com/title/tt0015864/,8.3,45319,5700,1925,video.movie,2,1,35,110,122,3,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2.0,titles01/tt0017136,tt0017136,Metropolis (1927),#,http://www.imdb.com/title/tt0017136/,8.4,81007,9180,1927,video.movie,3,4,67,428,376,2,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,NaN,NaN,NaN,NaN
3.0,titles01/tt0017925,tt0017925,Der General (1926),der general,http://www.imdb.com/title/tt0017925/,8.3,37521,6420,1926,video.movie,1,1,53,123,219,3,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4.0,titles01/tt0021749,tt0021749,Lichter der Gro√üstadt (1931),#,http://www.imdb.com/title/tt0021749/,8.7,70057,5220,1931,video.movie,2,0,38,187,186,3,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [28]:
# if i want to give my own names to columns 
pd.read_csv("head22.csv",names=['a','b','c','d','e','f','g','h','i','j','k'])

,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,a,b,c,d,e,f,g,h,i,j,k
NaN,fn,tid,title,wordsInTitle,url,imdbRating,ratingCount,duration,year,type,nrOfWins,nrOfNominations,nrOfPhotos,nrOfNewsArticles,nrOfUserReviews,nrOfGenre,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,FilmNoir,GameShow,History,Horror,Music,Musical,Mystery,News,RealityTV,Romance,SciFi,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
0.0,titles01/tt0012349,tt0012349,Der Vagabund und das Kind (1921),#,http://www.imdb.com/title/tt0012349/,8.4,40550,3240,1921,video.movie,1,0,19,96,85,3,0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1.0,titles01/tt0015864,tt0015864,Goldrausch (1925),goldrausch,http://www.imdb.com/title/tt0015864/,8.3,45319,5700,1925,video.movie,2,1,35,110,122,3,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2.0,titles01/tt0017136,tt0017136,Metropolis (1927),#,http://www.imdb.com/title/tt0017136/,8.4,81007,9180,1927,video.movie,3,4,67,428,376,2,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,NaN,NaN,NaN,NaN
3.0,titles01/tt0017925,tt0017925,Der General (1926),der general,http://www.imdb.com/title/tt0017925/,8.3,37521,6420,1926,video.movie,1,1,53,123,219,3,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4.0,titles01/tt0021749,tt0021749,Lichter der Gro√üstadt (1931),#,http://www.imdb.com/title/tt0021749/,8.7,70057,5220,1931,video.movie,2,0,38,187,186,3,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [31]:
# if i want to skip some rows use the method called skiprows
pd.read_csv("head22.csv",skiprows=[0,4,6,8])

,0,titles01/tt0012349,tt0012349,Der Vagabund und das Kind (1921),#,http://www.imdb.com/title/tt0012349/,8.4,40550,3240,1921,...,0.21,0.22,0.23,0.24,0.25,0.26,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48
0,1,titles01/tt0015864,tt0015864,Goldrausch (1925),goldrausch,http://www.imdb.com/title/tt0015864/,8.3,45319,5700,1925,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,2,titles01/tt0017136,tt0017136,Metropolis (1927),#,http://www.imdb.com/title/tt0017136/,8.4,81007,9180,1927,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,4,titles01/tt0021749,tt0021749,Lichter der Gro√üstadt (1931),#,http://www.imdb.com/title/tt0021749/,8.7,70057,5220,1931,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [36]:
# if we want to make any values as NaN use the method as na_values=["specify the particular names"]
pd.read_csv("head22.csv",na_values=[1])

,Unnamed: 0,fn,tid,title,wordsInTitle,url,imdbRating,ratingCount,duration,year,...,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
0,0.0,titles01/tt0012349,tt0012349,Der Vagabund und das Kind (1921),#,http://www.imdb.com/title/tt0012349/,8.4,40550,3240,1921,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,NaN,titles01/tt0015864,tt0015864,Goldrausch (1925),goldrausch,http://www.imdb.com/title/tt0015864/,8.3,45319,5700,1925,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,2.0,titles01/tt0017136,tt0017136,Metropolis (1927),#,http://www.imdb.com/title/tt0017136/,8.4,81007,9180,1927,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
3,3.0,titles01/tt0017925,tt0017925,Der General (1926),der general,http://www.imdb.com/title/tt0017925/,8.3,37521,6420,1926,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4,4.0,titles01/tt0021749,tt0021749,Lichter der Gro√üstadt (1931),#,http://www.imdb.com/title/tt0021749/,8.7,70057,5220,1931,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [37]:
# specify the particular names if we want in na_values
pd.read_csv("head22.csv",na_values=['Der Vagabund und das Kind (1921)','Metropolis (1927)'])

,Unnamed: 0,fn,tid,title,wordsInTitle,url,imdbRating,ratingCount,duration,year,...,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
0,0,titles01/tt0012349,tt0012349,NaN,#,http://www.imdb.com/title/tt0012349/,8.4,40550,3240,1921,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,1,titles01/tt0015864,tt0015864,Goldrausch (1925),goldrausch,http://www.imdb.com/title/tt0015864/,8.3,45319,5700,1925,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,2,titles01/tt0017136,tt0017136,NaN,#,http://www.imdb.com/title/tt0017136/,8.4,81007,9180,1927,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
3,3,titles01/tt0017925,tt0017925,Der General (1926),der general,http://www.imdb.com/title/tt0017925/,8.3,37521,6420,1926,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4,4,titles01/tt0021749,tt0021749,Lichter der Gro√üstadt (1931),#,http://www.imdb.com/title/tt0021749/,8.7,70057,5220,1931,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [39]:
df1=df.head(5)

In [40]:
df1.to_csv("head25.csv")

In [41]:
pd.read_csv("head25.csv")

,Unnamed: 0,fn,tid,title,wordsInTitle,url,imdbRating,ratingCount,duration,year,...,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
0,0,titles01/tt0012349,tt0012349,Der Vagabund und das Kind (1921),der vagabund und das kind,http://www.imdb.com/title/tt0012349/,8.4,40550,3240,1921,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,1,titles01/tt0015864,tt0015864,Goldrausch (1925),goldrausch,http://www.imdb.com/title/tt0015864/,8.3,45319,5700,1925,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,2,titles01/tt0017136,tt0017136,Metropolis (1927),metropolis,http://www.imdb.com/title/tt0017136/,8.4,81007,9180,1927,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
3,3,titles01/tt0017925,tt0017925,Der General (1926),der general,http://www.imdb.com/title/tt0017925/,8.3,37521,6420,1926,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4,4,titles01/tt0021749,tt0021749,Lichter der Gro√üstadt (1931),lichter der gro stadt,http://www.imdb.com/title/tt0021749/,8.7,70057,5220,1931,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [43]:
# skiprows,header=None,na_values,adding cloumn names=names=[....]
pd.read_csv("head25.csv",header=None,skiprows=[0,2,4],na_values=['goldrausch','metropolis'],names=['a','b','c','d','e','f','g'])

,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,a,b,c,d,e,f,g
0,titles01/tt0012349,tt0012349,Der Vagabund und das Kind (1921),der vagabund und das kind,http://www.imdb.com/title/tt0012349/,8.4,40550,3240,1921,video.movie,1,0,19,96,85,3,0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,titles01/tt0017136,tt0017136,Metropolis (1927),NaN,http://www.imdb.com/title/tt0017136/,8.4,81007,9180,1927,video.movie,3,4,67,428,376,2,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4,titles01/tt0021749,tt0021749,Lichter der Gro√üstadt (1931),lichter der gro stadt,http://www.imdb.com/title/tt0021749/,8.7,70057,5220,1931,video.movie,2,0,38,187,186,3,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [45]:
# by default this describe function shows the descriptions of neumerical data.
df.describe()
# by seeing the data, we can see some Nan values in unnamed columns.
# 25% percentile data means the 25th position data,EX: among 12 data set 3rd position is the 25% percentile data.
# EX: if you have 500 data, divide the 100% percentage into 25%,50%,75%,100%. then 500/4 parts 125, so 25% th percentile is 125th indexs and 50% percentile is 150th indexes

,nrOfUserReviews,nrOfGenre,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,...,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
count,14761.000000,14761.000000,14761.000000,14761.000000,14761.000000,14761.000000,14761.000000,14761.000000,14761.000000,14761.000000,...,14761.000000,14761.000000,14761.000000,14761.000000,14761.000000,14761.000000,429.000000,42.000000,8.0,1.0
mean,103.616828,4.493259,0.521916,0.060091,0.120995,0.071201,0.043087,0.351196,0.146399,0.081770,...,0.038209,0.016530,0.035838,0.088612,0.032450,0.022424,0.037296,0.023810,0.0,0.0
std,233.638777,28.557195,17.680075,4.289299,0.328615,0.257169,0.203059,0.477360,0.353518,0.274023,...,0.191706,0.127506,0.185892,0.284192,0.177199,0.148063,0.189707,0.154303,0.0,NaN
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
25%,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
50%,29.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
75%,102.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
max,4928.000000,1547.000000,1930.000000,488.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0

In [47]:
# for each and every column giving me the data type.
df.dtypes

fn                   object
tid                  object
title                object
wordsInTitle         object
url                  object
imdbRating           object
ratingCount          object
duration             object
year                 object
type                 object
nrOfWins             object
nrOfNominations      object
nrOfPhotos           object
nrOfNewsArticles     object
nrOfUserReviews       int64
nrOfGenre             int64
Action                int64
Adult                 int64
Adventure             int64
Animation             int64
Biography             int64
Comedy                int64
Crime                 int64
Documentary           int64
Drama                 int64
Family                int64
Fantasy               int64
FilmNoir              int64
GameShow              int64
History               int64
Horror                int64
Music                 int64
Musical               int64
Mystery               int64
News                  int64
RealityTV             int64
Romance               int64
SciFi                 int64
Short                 int64
Sport                 int64
TalkShow              int64
Thriller              int64
War                   int64
Western               int64
Unnamed: 44         float64
Unnamed: 45         float64
Unnamed: 46         float64
Unnamed: 47         float64
dtype: object

In [52]:
# storing the data...# if i want to remove the row index i need to use method called index=False

df1.to_csv('progress.csv',index=False)

In [54]:
pd.read_csv("progress.csv")

,fn,tid,title,wordsInTitle,url,imdbRating,ratingCount,duration,year,type,...,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
0,titles01/tt0012349,tt0012349,Der Vagabund und das Kind (1921),der vagabund und das kind,http://www.imdb.com/title/tt0012349/,8.4,40550,3240,1921,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,titles01/tt0015864,tt0015864,Goldrausch (1925),goldrausch,http://www.imdb.com/title/tt0015864/,8.3,45319,5700,1925,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,titles01/tt0017136,tt0017136,Metropolis (1927),metropolis,http://www.imdb.com/title/tt0017136/,8.4,81007,9180,1927,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
3,titles01/tt0017925,tt0017925,Der General (1926),der general,http://www.imdb.com/title/tt0017925/,8.3,37521,6420,1926,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4,titles01/tt0021749,tt0021749,Lichter der Gro√üstadt (1931),lichter der gro stadt,http://www.imdb.com/title/tt0021749/,8.7,70057,5220,1931,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [53]:
# if i want to remove the row index i need to use method called index=False
pd.read_csv("progress.csv")

,fn,tid,title,wordsInTitle,url,imdbRating,ratingCount,duration,year,type,...,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
0,titles01/tt0012349,tt0012349,Der Vagabund und das Kind (1921),der vagabund und das kind,http://www.imdb.com/title/tt0012349/,8.4,40550,3240,1921,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,titles01/tt0015864,tt0015864,Goldrausch (1925),goldrausch,http://www.imdb.com/title/tt0015864/,8.3,45319,5700,1925,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,titles01/tt0017136,tt0017136,Metropolis (1927),metropolis,http://www.imdb.com/title/tt0017136/,8.4,81007,9180,1927,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
3,titles01/tt0017925,tt0017925,Der General (1926),der general,http://www.imdb.com/title/tt0017925/,8.3,37521,6420,1926,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4,titles01/tt0021749,tt0021749,Lichter der Gro√üstadt (1931),lichter der gro stadt,http://www.imdb.com/title/tt0021749/,8.7,70057,5220,1931,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [55]:
df1.to_csv("progress1.csv")

In [56]:
# in this the row index is printing unecessary data.apply index=False so it will delete that row.
pd.read_csv("progress1.csv")

,Unnamed: 0,fn,tid,title,wordsInTitle,url,imdbRating,ratingCount,duration,year,...,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
0,0,titles01/tt0012349,tt0012349,Der Vagabund und das Kind (1921),der vagabund und das kind,http://www.imdb.com/title/tt0012349/,8.4,40550,3240,1921,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,1,titles01/tt0015864,tt0015864,Goldrausch (1925),goldrausch,http://www.imdb.com/title/tt0015864/,8.3,45319,5700,1925,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,2,titles01/tt0017136,tt0017136,Metropolis (1927),metropolis,http://www.imdb.com/title/tt0017136/,8.4,81007,9180,1927,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
3,3,titles01/tt0017925,tt0017925,Der General (1926),der general,http://www.imdb.com/title/tt0017925/,8.3,37521,6420,1926,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4,4,titles01/tt0021749,tt0021749,Lichter der Gro√üstadt (1931),lichter der gro stadt,http://www.imdb.com/title/tt0021749/,8.7,70057,5220,1931,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [57]:
df1.to_csv("progress2.csv",index=False)

In [58]:
pd.read_csv("progress2.csv")

,fn,tid,title,wordsInTitle,url,imdbRating,ratingCount,duration,year,type,...,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
0,titles01/tt0012349,tt0012349,Der Vagabund und das Kind (1921),der vagabund und das kind,http://www.imdb.com/title/tt0012349/,8.4,40550,3240,1921,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,titles01/tt0015864,tt0015864,Goldrausch (1925),goldrausch,http://www.imdb.com/title/tt0015864/,8.3,45319,5700,1925,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,titles01/tt0017136,tt0017136,Metropolis (1927),metropolis,http://www.imdb.com/title/tt0017136/,8.4,81007,9180,1927,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
3,titles01/tt0017925,tt0017925,Der General (1926),der general,http://www.imdb.com/title/tt0017925/,8.3,37521,6420,1926,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4,titles01/tt0021749,tt0021749,Lichter der Gro√üstadt (1931),lichter der gro stadt,http://www.imdb.com/title/tt0021749/,8.7,70057,5220,1931,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [59]:
# when we use header=False while storing the data into csv files, the header wont be available in the stored file.
df1.to_csv("progress3.csv",index=False,header=False)

In [60]:
pd.read_csv("progress3.csv")

,titles01/tt0012349,tt0012349,Der Vagabund und das Kind (1921),der vagabund und das kind,http://www.imdb.com/title/tt0012349/,8.4,40550,3240,1921,video.movie,...,0.20,0.21,0.22,0.23,0.24,0.25,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
0,titles01/tt0015864,tt0015864,Goldrausch (1925),goldrausch,http://www.imdb.com/title/tt0015864/,8.3,45319,5700,1925,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,titles01/tt0017136,tt0017136,Metropolis (1927),metropolis,http://www.imdb.com/title/tt0017136/,8.4,81007,9180,1927,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,titles01/tt0017925,tt0017925,Der General (1926),der general,http://www.imdb.com/title/tt0017925/,8.3,37521,6420,1926,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
3,titles01/tt0021749,tt0021749,Lichter der Gro√üstadt (1931),lichter der gro stadt,http://www.imdb.com/title/tt0021749/,8.7,70057,5220,1931,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [61]:
# if i want to store the data instead of comma we can add our own delimeter by using sep="X" method
df1.to_csv("progress4.csv",index=False,header=False,sep='#')

In [62]:
# whereever the comma is there it is seperated by "# " in the stored data set.
pd.read_csv("progress4.csv")

  titles01/tt0012349#tt0012349#Der Vagabund und das Kind (1921)#der vagabund und das kind#http://www.imdb.com/title/tt0012349/#8.4#40550#3240#1921#video.movie#1#0#19#96#85#3#0#0#0#0#0#1#0#0#1#1#0#0#0#0#0#0#0#0#0#0#0#0#0#0#0#0#0#0####
0  titles01/tt0015864#tt0015864#Goldrausch (1925)...
1  titles01/tt0017136#tt0017136#Metropolis (1927)...
2  titles01/tt0017925#tt0017925#Der General (1926...
3  titles01/tt0021749#tt0021749#Lichter der Gro√üs...

In [63]:
# if i want to store particular columns to my data set from the previous data
df1.to_csv("progress5.csv",index=False,columns=['title','wordsInTitle'])

In [64]:
pd.read_csv("progress5.csv")

                              title               wordsInTitle
0  Der Vagabund und das Kind (1921)  der vagabund und das kind
1                 Goldrausch (1925)                 goldrausch
2                 Metropolis (1927)                 metropolis
3                Der General (1926)                der general
4      Lichter der Gro√üstadt (1931)      lichter der gro stadt

In [66]:
# if i am looking for particular columns or feilds from the datasets
df.head()

,fn,tid,title,wordsInTitle,url,imdbRating,ratingCount,duration,year,type,...,Short,Sport,TalkShow,Thriller,War,Western,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47
0,titles01/tt0012349,tt0012349,Der Vagabund und das Kind (1921),der vagabund und das kind,http://www.imdb.com/title/tt0012349/,8.4,40550,3240,1921,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,titles01/tt0015864,tt0015864,Goldrausch (1925),goldrausch,http://www.imdb.com/title/tt0015864/,8.3,45319,5700,1925,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,titles01/tt0017136,tt0017136,Metropolis (1927),metropolis,http://www.imdb.com/title/tt0017136/,8.4,81007,9180,1927,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
3,titles01/tt0017925,tt0017925,Der General (1926),der general,http://www.imdb.com/title/tt0017925/,8.3,37521,6420,1926,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4,titles01/tt0021749,tt0021749,Lichter der Gro√üstadt (1931),lichter der gro stadt,http://www.imdb.com/title/tt0021749/,8.7,70057,5220,1931,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [67]:
# if we want to see the etire list of columns use df.columns method
df.columns

Index(['fn', 'tid', 'title', 'wordsInTitle', 'url', 'imdbRating',
       'ratingCount', 'duration', 'year', 'type', 'nrOfWins',
       'nrOfNominations', 'nrOfPhotos', 'nrOfNewsArticles', 'nrOfUserReviews',
       'nrOfGenre', 'Action', 'Adult', 'Adventure', 'Animation', 'Biography',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy',
       'FilmNoir', 'GameShow', 'History', 'Horror', 'Music', 'Musical',
       'Mystery', 'News', 'RealityTV', 'Romance', 'SciFi', 'Short', 'Sport',
       'TalkShow', 'Thriller', 'War', 'Western', 'Unnamed: 44', 'Unnamed: 45',
       'Unnamed: 46', 'Unnamed: 47'],
      dtype='object')

In [68]:
# if i am looking for particular columns or feilds from the datasets
df['title']

0                         Der Vagabund und das Kind (1921)
1                                        Goldrausch (1925)
2                                        Metropolis (1927)
3                                       Der General (1926)
4                             Lichter der Gro√üstadt (1931)
                               ...
14756               Peep Show Sectioning (TV Episode 2005)
14757    Playhouse 90 The Miracle Worker (TV Episode 1957)
14758    Private Screenings Robert Mitchum and Jane Rus...
14759      Providence All the King's Men (TV Episode 2002)
14760                            QI Adam (TV Episode 2003)
Name: title, Length: 14761, dtype: object

In [69]:
type(df['title']) # sereis means one single record.

pandas.core.series.Series

In [70]:
# if we want to get as dataframe for particular column or row use doubble squarebrakets,  df[["feild_name"]] 
df[['title']]

                                                   title
0                       Der Vagabund und das Kind (1921)
1                                      Goldrausch (1925)
2                                      Metropolis (1927)
3                                     Der General (1926)
4                           Lichter der Gro√üstadt (1931)
...                                                  ...
14756             Peep Show Sectioning (TV Episode 2005)
14757  Playhouse 90 The Miracle Worker (TV Episode 1957)
14758  Private Screenings Robert Mitchum and Jane Rus...
14759    Providence All the King's Men (TV Episode 2002)
14760                          QI Adam (TV Episode 2003)

[14761 rows x 1 columns]

In [71]:
# check the data type for the above feild
type(df[['title']])

pandas.core.frame.DataFrame

In [72]:
# if i want to fetch two columns or more, we need to use dubble sqr brackets or need to give it in the form of list.
df[['title','imdbRating','ratingCount']]

,title,imdbRating,ratingCount
0,Der Vagabund und das Kind (1921),8.4,40550
1,Goldrausch (1925),8.3,45319
2,Metropolis (1927),8.4,81007
3,Der General (1926),8.3,37521
4,Lichter der Gro√üstadt (1931),8.7,70057
...,...,...,...
14756,Peep Show Sectioning (TV Episode 2005),7.7,135
14757,Playhouse 90 The Miracle Worker (TV Episode 1957),7.3,8
14758,Private Screenings Robert Mitchum and Jane Rus...,7,20
14759,Providence All the King's Men (TV Episode 2002),NaN,NaN
14760,QI Adam (TV Episode 2003),7.6,89